.clothes-section {
  width: 100%;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.clothes-section__title {
  display: block;
  margin: 0;
}

.clothes-section__add-btn {
  padding: 0;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  display: none;
  white-space: nowrap;
}

.clothes-section__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 325px));
  justify-content: start;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: visible;
  max-height: none;
}

@media screen and (max-width: 800px) {
  .clothes-section {
    margin-top: 0;
  }

  .clothes-section__add-btn {
    display: none;
  }

  .clothes-section__title {
    display: block;
  }

  .clothes-section__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 325px));
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 21px;
    overflow-y: visible;
    max-height: none;
  }
}
